name: Continuous Delivery

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'what version to release'
        required: true
        type: string
      dry:
        description: 'Dry run'
        required: false
        type: boolean

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          fetch-depth: 0
          ref: ${{ 'main' }}
      - name: Use Node.js v16
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: 16
          cache: yarn
          registry-url: https://registry.npmjs.org/
      - name: Install Dependencies
        run: yarn --immutable
      - name: Build
        run: yarn build
      - name: Docs
        run: yarn docs
      - name: Bump Version & Publish
        if: ${{ inputs.dry }}
        run: |
          git config --global user.name 'DanCodes'
          git config --global user.email 'dan@dancodes.online'

          yarn release-it --ci -i ${{ inputs.version }} -d
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Bump Version & Publish
        if: ${{ !inputs.dry }}
        run: |
          git config --global user.name 'DanCodes'
          git config --global user.email 'dan@dancodes.online'

          yarn release-it --ci -i ${{ inputs.version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
