name: Continuous Delivery

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'what version to release'
        required: true
        type: string
      dry:
        description: 'Dry run'
        required: false
        type: boolean
  # push:
  #   branches:
  #     - main

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          ref: ${{ 'main' }}
          token: ${{secrets.GH_TOKEN}}

      - name: Use Node.js v22
        uses: josh-development/.github/setup-node@main
        with:
          version: 22

      - name: Build
        run: yarn build

      - name: Setup Git
        run: |
          git config --global user.name 'DanCodes'
          git config --global user.email 'dan@dancodes.online'

      - name: Bump Version & Publish
        if: ${{ inputs.dry }}
        run: yarn release-it --ci -i ${{ inputs.version }} -d
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Set Version & Publish
        if: ${{ !inputs.dry && github.event_name == 'workflow_dispatch' }}
        run: |
          yarn release-it --ci -i ${{ inputs.version  }}

          git push
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Bump Version & Publish
        if: ${{ !inputs.dry && github.event_name == 'push' }}
        run: |
          yarn release-it --ci

          git push

        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
